@use "../../scss/foundation/rem" as r;

.pg-recommend {
    margin-bottom: 2rem;
    .recommend__list {
        li {
            position: relative;
            font-weight: 700;
            line-height: 1.4;
            padding-left: 1.3rem;
            text-indent: -1.3rem;
            margin-bottom: 1rem;
            &::before {
                content: '';
                display: inline-block;
                background-repeat: no-repeat;
                line-height: 1.4;
                margin-right: 0.3rem;
            }
            &.recommend {
                font-size: r.f-rem(18);
                .text-underline {
                    background:linear-gradient(transparent 75%, #F24F1D 60%);
                }
                &.mgb {
                    margin-bottom: 2rem;
                }
                &::before {
                    width: 16px;
                    height: 16px;
                    background-image: url('../../images/circle.svg');
                }
            }
            &.unrecommend {
                font-size: r.f-rem(14);
                &::before {
                    width: 14px;
                    height: 14px;
                    background-image: url('../../images/triangle.svg');
                }
            }
        }
    }
}