---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';

const metas = {
	title: "Page B",
	discription: "Astroの魅力を伝えるサイトです。",
	dir: '/page-b'
}
---
<Layout title={metas.title} description={metas.discription}, dir={metas.dir}>
    <section class="l-second-page l-bg-white">
        <PageTitle text="This is Page B" />
    </section>
</Layout>