---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';

const metas = {
	title: "Page A",
	discription: "Astroの魅力を伝えるサイトです。",
	dir: '/page-a',
    path: '../'
}
---
<Layout title={metas.title} description={metas.discription}, dir={metas.dir}, path={metas.path}>
    <section class="l-second-page l-bg-white">
        <PageTitle text="This is Page A" />
    </section>
</Layout>