---
interface Props {
	text: string;
    isWhite: boolean;
}

const { text, isWhite } = Astro.props;
---

<h1 class:list={['page-title', { white: isWhite }]}>{ text }</h1>

<style lang="scss" is:global>
    @use "../scss/foundation/rem" as r;

    .page-title {
        text-align: left;
        font-size: r.f-rem(32);
        font-weight: 700;
        line-height: 1.2;
        padding-bottom: 1rem;
        &.white {
			color: var(--color-white);
		}
    }
</style>