---
interface Props {
	text: string;
	isWhite: boolean;
}

const { text, isWhite } = Astro.props;
---

<h2 class:list={['section__title', { white: isWhite }]}>{text}</h2>

<style lang="scss">
	@use "../scss/foundation/rem" as r;
	.section__title {
		font-size: r.f-rem(40);
		font-weight: 700;
		line-height: 1.2;
		text-align: left;
		margin-bottom: 1rem;
		&.white {
			color: var(--color-white);
		}
	}
</style>