---
//font
import '@fontsource/zen-kaku-gothic-new/400.css';
import '@fontsource/zen-kaku-gothic-new/500.css';
import '@fontsource/zen-kaku-gothic-new/700.css';
import '@fontsource/kanit/300.css';
import '@fontsource/kanit/500.css';
import '@fontsource/kanit/700.css';

//common css
import '../scss/foundation/reset.scss'
import '../scss/foundation/base.scss'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta name="description" content="<%= meta.description %>">
		<meta name="keywords" content="">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="main__wrapper">
			<!-- <header>
				<div class="global__menu">
					<div id="js-menu-toggle" class="menu__toggle">
						<div class="bg"></div>
						<div class="icon">
							<div class="border"></div>
							<div class="border"></div>
							<div class="border"></div>
						</div>
					</div>
					<div class="menu__wrap">
						<nav class="inner">
							<ul>
								<li>home</li>
								<li>link a</li>
								<li>link b</li>
							</ul>
						</nav>
					</div>
				</div>
			</header> -->
			<slot />
			<footer>
				<small>&copy;2023 MIE SUZUKI developed by 🐣</small>
			</footer>
		</div>
	</body>
</html>
<style lang="scss">
	@use "../scss/foundation/rem" as r;

	.main__wrapper {
		@media (min-width: 980px) {
			max-width: 375px;
			box-shadow: 0 5px 60px #9e9c8999;
			margin: 0 auto;
		}
	}
	header {
		.hamburger  {
			margin-bottom: 4rem;
			section {
				position: relative;
				display: grid;
				place-content: center;
				height: 100vh;
				font-family: sans-serif;
				h2 {
					font-size: 80px;
				}
			}
		}
		.hamburger1 {
			section {
				background-color: #BED4BF;
			}
			.global__menu {
				width: 100%;
				padding: 1rem;
			}
			.menu__toggle {
				position: absolute;
				top: 1rem;
				right: 1rem;
				width: 45px;
				height: 45px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				z-index: 2;
				.bg {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: #fff;
					border-radius: 50%;
					transition: background-color .4s;
				}
				.icon {
					position: relative;
					width: 100%;
					.border {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 33%;
						height: 2px;
						transition: .4s ease-in-out;
						overflow: hidden;
						&::after {
							content: "";
							display: block;
							width: 100%;
							height: 100%;
							position: relative;
							border-radius: 2px;
							background-color: #000;
							transition: .4s ease-in-out;
						}
						&:nth-child(1) {
							transform: translate(-50%,-5px);
						}
						&:nth-child(2) {
							transform: translate(-50%,-1px);
						}
						&:nth-child(3) {
							transform: translate(-50%,3px);
						}
					}
				}
				@media (any-hover: hover) {
				&:hover .border {
					&:nth-child(1) {
						transform: translate(-60%,-5px);
					}
					&:nth-child(2) {
						transform: translate(-30%,-1px);
					}
					&:nth-child(3) {
						transform: translate(-60%,3px);
					}
				}
				}
				&.is__open {
					.bg {
						background-color: #23352b;
					}
					.border {
						&::after {
							background-color: #fff;
						}
						&:nth-child(1) {
							transform: translate(-50%,-1px) rotate(45deg);
						}
						&:nth-child(2) {
							opacity: 0;
						}
						&:nth-child(3) {
							transform: translate(-50%,-1px) rotate(-45deg);
						}
					}
					@media (any-hover: hover) {
						&:hover .border {
						&:nth-child(1) {
							transform: translate(-50%,-1px) rotate(30deg);
						}
						&:nth-child(3) {
							transform: translate(-50%,-1px) rotate(-30deg);
						}
						}
					}
				}
			}
			.menu__wrap {
				// position: fixed;
				position: absolute;
				background-color: #E3EAE0;
				clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
				top: 0;
				right: 0;
				width: 50%;
				height: 100%;
				padding: 8rem 4rem;
				.inner {
					width: 100%;
					height: 100%;
					li {
						font-size: 32px;
						text-transform: uppercase;
						text-align: left;
						line-height: 2;
					}
				}
			}
		}
	}
	footer {
		font-family: var(--font-en);
		font-size: r.f-rem(10);
		font-weight: 300;
		text-align: left;
	}
</style>
